{% extends "paginas/base.html" %}

{% block titulo  %} Inicio {% endblock %}

{% block contenido  %} 

<div class="p-5 bg-light">
    <div class="container">
        <center><h1 class="display-3"> <font face="Lato" color="#EE961E">Bienvenido administrador</font></h1></center>
        <center><p class="lead"><font face="Lato" color=" #0B0B3B">Comienza a ingresar la información</font></p></center>
        <hr class="my-2">
        <p class="lead">
            
            
        </p>
    </div>
</div>

{% endblock %}